* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
}

.container {
    width: 980px;
    height: 1386px;
    background-color: #fff;
}

.logo {
    width: 110px;
    height: 61px;
    margin: 0 44px;
    background-color: #bb4040;
    position: relative;
    float: left;
}

.logo span {
    color: #eee;
    font-size: 12px;
    margin: 5px;
    font-family: "黑体";
    position: absolute;
    bottom: 0;
}

.dateBox {
    float: right;
    width: 100px;
    height: 61px;
    text-align: right;
    position: relative;
}

.dateBox span {
    color: #d45d5c;
    font-size: 12px;
    font-family: "黑体";
    position: absolute;
    bottom: 0;
    right: 44px;
}

.having {
    clear: both;
    width: 892px;
    height: 2px;
    margin: 0 auto;
    background-color: #938e8c;
}

.article-01 {
    margin: 30px auto;
    width: 892px;
    height: auto;
}

.article-01-img {
    width: 641px;
    height: 301px;
    float: left;
}

.article-01-picture {
    float: left;
    width: 641px;
    height: 301px;
}

.article-01-img-left {
    width: 191px;
    height: 100%;
    float: left;
    margin-left: -100%;
    background-color: rgba(0, 255, 0, 0.3);
}

.article-01-img-right {
    width: 191px;
    height: 100%;
    float: left;
    margin-left: -191px;
    background-color: rgba(255, 0, 0, 0.3);
}

.article-01-desc {
    float: left;
    margin-left: 44px;
    width: 203px;
}

#article-01-desc-having {
    width: 203px;
    height: 2px;
    background-color: #cc8091;
}

.article-01-desc-title {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #000;
    text-decoration: underline;
}

.article-01-desc-title:first-letter {
    font-size: 24px;
}

#article-01-desc-content {
    font-family: "楷体";
    font-size: 12px;
    color: #676767;
}

#article-01-desc-number {
    font-family: "微软雅黑";
    font-size: 116px;
    color: #75b86b;
    font-style: italic;
    line-height: 120%;
}

/*.article-01-desc-content {
    position: relative;
}*/

#article-01-desc-content-number {
    font-family: "微软雅黑";
    font-size: 55px;
    color: #cc8091;
    float: left;
    line-height: 120%;
    /*position: relative;
    bottom: 0;*/
}

.article-01-desc-content-css {
    float: left;
    margin-top: 15px;
    /*position: absolute;
    bottom: 0;*/
}

#article-01-desc-content-css {
    font-family: "微软雅黑";
    font-size: 21px;
    color: #cc8091;
    line-height: 120%;
}

#article-01-desc-content-css-desc {
    font-family: "微软雅黑";
    font-size: 12px;
    color: #cc8091;
    line-height: 120%;
}