*{
    padding: 0; margin: 0;
}

.headBox {
    width: 100%;
    height: 100px;
    background-color: #333;
}

.footBox {
    width: 100%;
    height: 200px;
    background-color: #333;
    clear: both;
}

.container {
    height: auto;
    padding: 0 20px 20px 0;
    float: left;
    background-color: #f3f3f3;
}

.container .left {
    float: left;
    width: 100%;
    background-color: #f3f3f3;
}

.container .menu {
    background-color: #fff;
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: -326px;
    border-right: #cccccc solid 3px;
    border-bottom: #cccccc solid 3px;
}

.inner {
    background-color: #f3f3f3;
    margin-right: 346px;
}

.inner>div {
    border-right: #cccccc solid 3px;
    border-bottom: #cccccc solid 3px;
    background-color: #fff;
    margin: 20px 0;
}

.article {
    padding: 30px 20px;
}

.article h3 {
    color: black;
    line-height: 2em;
}

.article h4 {
    color: #888;
    line-height: 2em;
}

.article .author {
    color: #aaa;
    font-size: 10px;
    text-indent: 0;
    line-height: 2em;
}

.article p {
    color: #333;
    font-size: 12px;
    text-indent: 2em;
}

.article ul li {
    list-style: none;
    font-size: 12px;
    text-indent: 2em;
    color: #333;
}

#imgListArticle{
    float: left;
    margin: 0 0 20px 0;
}

.imgContainer {
    width: 120px;
    height: 100px;
    padding: 10px 0;
    border: 1px solid #333;
    float: left;
    margin: 15px;
}

.imgContainer p {
    text-align: center;
    text-indent: 0;
}

.imgBox{
    width: 100px;
    height: 70px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.clearBox {
    clear: both;
}

ol li {
    list-style-position: inside;
    font-size: 12px;
    text-indent: 2em;
    color: #333;
}

.tableBox {
    width: 100%;
}

.tableBox th{
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: left;
    padding: 5px;
}

.tableBox td {
    font-size: 12px;
    color: #333;
    padding: 5px;
}

.tableTotal td{
    background-color: #cccccc;
}