* {
    padding: 0;
    margin: 0;
}

.headBox {
    width: 100%;
    height: 80px;
    background-color: #333;
}

.footBox {
    width: 100%;
    height: 60px;
    background-color: #333;
    clear: both;
}

.container {
    height: auto;
    padding: 0 20px 20px 0;
    float: left;
    background-color: #f3f3f3;
}

.container .left {
    float: left;
    width: 100%;
    background-color: #f3f3f3;
}

.container .menu {
    background-color: #fff;
    float: left;
    width: 350px;
    margin-top: 20px;
    margin-left: -396px;
    border-right: #cccccc solid 3px;
    border-bottom: #cccccc solid 3px;
}

.inner {
    background-color: #f3f3f3;
    margin-right: 416px;
}

.inner > div {
    border-right: #cccccc solid 3px;
    border-bottom: #cccccc solid 3px;
    background-color: #fff;
    margin: 20px 0;
}

.article {
    padding: 30px 20px;
}

.article h3 {
    color: black;
    line-height: 2em;
}

.article h4 {
    color: #888;
    line-height: 2em;
}

.article .author {
    color: #aaa;
    font-size: 10px;
    text-indent: 0;
    line-height: 2em;
}

.article p {
    color: #333;
    font-size: 12px;
    text-indent: 2em;
}

.article ul li {
    list-style: none;
    font-size: 12px;
    text-indent: 2em;
    color: #333;
}

#imgListArticle {
    float: left;
    margin: 0 0 20px 0;
}

.imgContainer {
    width: 120px;
    height: 100px;
    padding: 10px 0;
    border: 1px solid #333;
    float: left;
    margin: 15px;
}

.imgContainer p {
    text-align: center;
    text-indent: 0;
}

.imgBox {
    width: 100px;
    height: 70px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.clearBox {
    clear: both;
}

ol li {
    list-style-position: inside;
    font-size: 12px;
    text-indent: 2em;
    color: #333;
}

.tableBox {
    width: 100%;
}

.tableBox th {
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: left;
    padding: 5px;
}

.tableBox td {
    font-size: 12px;
    color: #333;
    padding: 5px;
}

.tableTotal td {
    background-color: #cccccc;
}

.menu {
    padding: 20px;
}

.menu h4 {
    line-height: 40px;
    border-left: 3px solid #888888;
    padding: 0 0 0 15px;
}

.sidebar-key {
    display: inline-block;
    line-height: 20px;
    width: 30%;
    font-size: 12px;
    margin: 10px 0;
    color: #333;
    text-align: right;
    float: left;
}

.sidebar-value {
    width: 50%;
    margin: 10px 0 10px 2%;
    line-height: 20px;
    float: left;
}

.sidebar-remark {
    float: left;
    font-size: 12px;
    color: #888;
    margin-left: 32%;
    line-height: 30px;
}

.sidebar-radio {
    float: left;
    width: 15%;
    font-size: 12px;
    margin: 10px 0 10px 2%;
}

.sidebar-select {
    float: left;
    width: 15%;
    margin: 10px 0 10px 2%;
}

.sidebar-textarea {
    width: 66%;
    float: left;
    height: 80px;
    margin: 10px 0 10px 2%;
    resize: none;
}

.short-key {
    clear: left;
}

.sidebar-submit {
    clear: left;
    width: 100%;
    height: 40px;
    background-color: #42f;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}

.headBox ul {
    float: right;
    height: 100%;
}

.headBox ul li {
    float: left;
    position: relative;
    height: 30px;
    top:50%;
    margin: -15px 0 0 0;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    list-style-position: inside;
    color: black;
    font-size: 12px;
}

.headBox ul li a {
    color: white;
}

.headBox ul li a:visited {
    color: #888;
}

.copyright {
    color: #fff;
    font-size: 10px;
    text-align: center;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
